.logo-delay {
    animation-delay: 0.8s;
}

.btn-delay {
    animation-delay: 1s;
}

.negocie-acoes-delay {
    animation-delay: 1.2s;
}

.p-delay {
    animation-delay: 1.4s;
}

.btns-delay {
    animation-delay: 1.6s;
}

.img-delay {
    animation-delay: 1.8s;
}

.img-trade-delay {
    animation-delay: 2s;
}

.trade-delay {
    animation-delay: 2.2s;
}

.baixar-delay {
    animation-delay: 2.4s;
}