@import 'animations';

body {
    background-color: #111727;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

//animacoes
@keyframes moverFundo {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

//Navbar

// Container menor e centralizado
.container-menor {
    max-width: 90%;
    margin: 0 auto;
}

// Navbar estilizada
.navbar-projeto {
    background-color: #101726;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid #262844;
    display: flex;
    align-items: center;

    .logo {
        height: 30px;
    }

    .btn-entrar {
        background-color: #006eff;
        border: none;
        color: #fff;
        border-radius: 10px;
        font-weight: bold;
        transition: 0.3s ease;
        box-shadow: 0px 0px 10px 5px rgba(128, 128, 128, 0.1);
        padding: 8px 16px;
        white-space: nowrap;
        /* Garante que o botão não quebre em linhas menores */

        &:hover {
            background-color: #00449c;
            color: #fff;
        }

        &:active {
            box-shadow: 0px 3px 8px rgba(128, 128, 128, 0.5);
        }
    }
}

//secao principal
.secao-principal {

    background-image: url('../assets/imgs/HOME NOVA/graficos-animacao.png');
    margin-top: 50px;

    animation: moverFundo 60s linear infinite;

    h1 {
        color: #fff;
        font-weight: bold;
        font-size: 3em;
    }

    p {
        color: #fff;
        font-weight: 500;
        max-width: 75%;
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 1.2rem;
    }

    .img-fluid {

        transition: .3s ease;

        &:hover {
            transform: translateY(-5px);
        }
    }

    .btn-negociar {
        background-color: #ff6600;
        border-radius: 10px;
        border: none;
        padding: 10px;
        width: 150px;
        color: #fff;
        font-weight: bold;
        transition: 0.3s ease;
        box-shadow: 0px 0px 10px 5px rgba(128, 128, 128, 0.1);
        padding: 10px 20px;
        text-decoration: none;
        text-align: center;

        &:hover {
            background-color: orangered;
        }

        &:active {
            box-shadow: 0px 3px 8px rgba(128, 128, 128, 0.5);
        }
    }

    .btn-conta-pratica {
        background-color: #006eff;
        border: none;
        color: #fff;
        border-radius: 10px;
        font-weight: bold;
        transition: .3s ease;
        width: 300px;
        box-shadow: 0px 0px 10px 5px rgba(128, 128, 128, 0.1);
        padding: 10px 20px;
        text-decoration: none;
        text-align: center;

        &:hover {
            background-color: #00449c;
            color: #fff;
        }

        &:active {
            box-shadow: 0px 3px 8px rgba(128, 128, 128, 0.5);
        }
    }

}

//Copy Trade
.secao-copy-trade {

    margin-top: 50px;
    background-color: #111727;

    h1 {
        color: #fff;
        font-weight: bold;
        font-size: 3em;
    }

    p {
        color: #fff;
        font-weight: 500;
        max-width: 75%;
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 1.2rem;
    }

    .copy-inova {
        margin-top: 100px;
    }

    .img-fluid {

        transition: .3s ease;

        &:hover {
            transform: translateY(-5px);
        }
    }

    .btn-copy-inova {
        background-color: #ff6600;
        border-radius: 10px;
        border: none;
        padding: 10px;
        width: 250px;
        color: #fff;
        font-weight: bold;
        transition: .3s ease;
        box-shadow: 0px 0px 10px 5px rgba(128, 128, 128, 0.1);
        padding: 10px 20px;
        text-decoration: none;
        text-align: center;

        &:hover {
            background-color: orangered;
        }

        &:active {
            transform: translateY(1px);
        }
    }
}

//Baixar app inova
.secao-baixar-app {
    background-color: #111727;

    .img-fluid {

        transition: .3s ease;

        &:hover {
            opacity: 0.6;
        }
    }

    h1 {
        margin-top: 85px;
        color: #fff;
        font-weight: bold;
        text-align: center;
        font-size: 3em;
    }

    p {
        color: #fff;
        text-align: center;
        font-size: 1rem;
        line-height: 1.5;
        max-width: 600px;
        margin: 0 auto;
        font-size: 1.2rem;
    }
}

//Por que escolher
.por-que-escolher {

    background-color: #111727;

    h1 {
        margin-top: 70px;
        margin-bottom: 20px;
        color: #fff;
        font-weight: bold;
        text-align: center;
        font-size: 3em;
    }

    p {
        color: #fff;
        text-align: center;
        font-size: 1rem;
        line-height: 1.5;
        max-width: 600px;
        margin: 0 auto;
        font-size: 1.2rem;
        margin-bottom: 50px;
    }

    .card {

        transition: .3s ease;

        &:hover {
            transform: translateY(-5px);
        }

        background-color: #0f1420;

        .card-img-top {
            height: 200px;
            object-fit: cover;
            width: 100%;
        }

        h5 {
            color: #fff;
            font-weight: bold;
            border-bottom: 1px solid #006eff;
            display: inline-block;
            padding-bottom: 10px;
        }

        p {
            text-align: start;
            font-size: 15px;
        }
    }

}

//depositos e saques
.depositos-e-saques {
    background-color: #0B1120;
    padding: 60px 0;

    .deposito-e-saque {
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: bold;
        color: #00ff95;
    }

    h2 {
        color: white;
        font-size: 2.5rem;
        margin-bottom: 20px;
        font-weight: bold;
    }

    p {
        font-size: 1.2rem;
        color: #b0b3b8;
        margin-bottom: 20px;
    }

    .img-fluid {
        margin-bottom: 20px;
    }

    img {
        filter: brightness(0.8);
        transition: all 0.3s ease;

        &:hover {
            filter: brightness(1);
        }
    }
}

.btn-receba {
    background-color: #29A643;
    border: none;
    color: #fff;
    border-radius: 10px;
    font-weight: bold;
    transition: .3s ease;
    box-shadow: 0px 0px 10px 5px rgba(128, 128, 128, 0.1);
    padding: 10px 20px;
    width: 300px;

    &:hover {
        background-color: #005e10;
        color: #fff;
    }

    &:active {
        box-shadow: 0px 3px 8px rgba(128, 128, 128, 0.5);
    }
}

//Etapas
.etapas {
    background-color: #0B1120;
    padding: 60px 0;

    p.text-primary {
        margin-top: 40px;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: bold;
        color: #006eff;
    }

    h2 {
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 40px;
    }

    .etapa-card {
        background-color: #141c2c;
        border: none;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s, box-shadow 0.3s;

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.2);
        }

        h5 {
            color: #fff;
            font-weight: bold;
            margin-bottom: 10px;
            font-size: 1.25rem;
        }

        p {
            color: #b0b3b8;
            font-size: 1rem;
        }

        .icon {
            font-size: 3rem;
            color: #006eff;
            margin-bottom: 15px;
            transition: color 0.3s;
        }

        .icon:hover {
            color: #00449c;
        }
    }
}

//Footer
.rodape {
    background-color: #0e1525;
    color: #b0b3b8;
    padding: 60px 0;

    .bg-footer {
        background-color: #0B1120;
        border-radius: 10px;
        padding: 30px;
    }

    h5 {
        color: #fff;
        font-size: 15px;
        font-weight: bold;
    }

    li {
        a {
            color: #9dbcff;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .btn-social {
        background: #000c1d;
        border: none;
        color: #00449c;
        border-radius: 5px;
        padding: 8px 16px;
        font-weight: bold;
        display: flex;
        align-items: center;
        text-decoration: none;
        transition: .3s ease;
        width: 80%;
        justify-content: start;

        i {
            margin-right: 10px;
        }

        &:hover {
            background-color: #00449c;
            color: #fff;
        }
    }

    .social-icons {
        gap: 10px;
    }

    .download-buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        gap: 10px;
        overflow-x: hidden;

        a {
            flex: 1 1 auto;
            max-width: 150px;

            img {
                height: 50px;
                width: 100%;
                object-fit: contain;
            }
        }
    }

    ul.list-unstyled li {
        margin-bottom: 10px;
    }

    .regulamentos {
        color: gray;

        &:hover {
            text-decoration: underline;
        }
    }

}

@media(max-width: 768px) {

    .secao-principal {

        h1,
        p {
            text-align: center;
            max-width: 100%;
        }

        h1 {
            font-size: 2em;
        }

        p {
            font-size: 100%;
        }
    }

    .secao-copy-trade {

        h1,
        p {
            text-align: center;
            max-width: 100%;
        }

        h1 {
            font-size: 2em;
        }

        p {
            font-size: 100%;
        }

        .copy-inova {
            margin-top: 60px;
        }

    }

    .secao-baixar-app {
        h1 {
            font-size: 2em;
        }

        p {
            font-size: 100%;
        }
    }

    .por-que-escolher {
        h1 {
            font-size: 2em;
        }

        p {
            font-size: 100%;
        }
    }

    .depositos-e-saques {

        h2,
        p {
            text-align: center;
            max-width: 100%;
        }

        h2 {
            font-size: 2em;
        }

        p {
            font-size: 100%;
        }
    }

    .rodape {
        text-align: center;

        .col-md-2 {
            margin-top: 10px;
        }

        .btn-social {
            width: 100%;
            justify-content: center;
        }

        .download-buttons {
            justify-content: center;
        }
    }
}

@media (max-width: 576px) {
    .navbar-projeto {
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
    }
}